<h1>Créé toi</h1>

<div class="class container">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.association :movies %>
    <%= f.association :bookmarks %>
    <%= f.button :submit %>
  <% end %>
</div>